<a href="https://colab.research.google.com/github/librairy/EQAKG/blob/main/test/MuHeQA_Evaluation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

pd.set_option('max_colwidth', 400)

# VQuAnDa

In [12]:
# read csv file
results = pd.read_csv("https://raw.githubusercontent.com/librairy/EQAKG/main/test/VQuAnDa/results/VQuanda.csv", header = 0, encoding = "utf-8", sep=";")

# display DataFrame
print(results.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 871 entries, 0 to 870
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Question                871 non-null    object
 1   Answer                  871 non-null    object
 2   Response                868 non-null    object
 3   Levenshtein Distance    871 non-null    int64
 4   BLEU Score (SacreBleu)  871 non-null    float64
 5   BLEU Score (ntlk)       871 non-null    float64
 6   Meteor Score            871 non-null    float64
 7   EM Score                871 non-null    int64
 8   Query Time              871 non-null    float64
 9   Text Length             871 non-null    int64
 10  Is Answered             871 non-null    object
dtypes: float64(4), int64(3), object(4)
memory usage: 75.0+ KB
None

In [14]:
results.describe()

       Levenshtein Distance  BLEU Score (SacreBleu)  ...  Query Time  Text Length
count            871.000000              871.000000  ...  871.000000   871.000000
mean            2352.009185               15.085519  ...  142.579782   523.895522
std             3636.544081               32.877870  ...  134.471981   246.946645
min                0.000000                0.000000  ...   12.790000     0.000000
25%              300.000000                0.000000  ...   50.300000   367.000000
50%             1100.000000                0.000000  ...   97.960000   516.000000
75%             2700.000000                2.057684  ...  180.030000   676.000000
max            27500.000000              100.000000  ...  790.810000  1806.000000

[8 rows x 7 columns]

In [18]:
results[results['BLEU Score (SacreBleu)'] == 0.0]

                                                                                    Question  ... Is Answered
0         Count the number of people became famous for when Andrew Jackson was a commander ?  ...         YES
2                             List all the faiths that British Columbian politicians follow?  ...         YES
4                               In which cities can the beverage related to Barq's be found?  ...         YES
5                    Trainees at the national film school of Lodz have received what awards?  ...         YES
6                         Give me the count of all people who ascended a peak in California?  ...         YES
..                                                                                       ...  ...         ...
864                                                      Where does John A Danaher III work?  ...         YES
865       What magazine is Marritt Cabal known for and is the publisher of Lucifer's Hammer?  ...         YES
866                                        How many religion's people have died in Malaysia?  ...         YES
868                                                  Which uni did Joshua A. Siegel attend ?  ...         YES
870  List the work institutions of the medicians who has also worked at University of Miami?  ...         YES

[616 rows x 11 columns]

# VANiLLA

In [4]:
# read csv file
results = pd.read_csv("https://raw.githubusercontent.com/librairy/EQAKG/main/test/VANiLLA/VANiLLA.csv", header = 0, encoding = "utf-8", sep=";")

# display DataFrame
print(results.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15999 entries, 0 to 15998
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Question                15999 non-null  object
 1   Answer                  15999 non-null  object
 2   Response                15979 non-null  object
 3   Levenshtein Distance    15999 non-null  int64
 4   BLEU Score (SacreBleu)  15999 non-null  float64
 5   BLEU Score (ntlk)       15999 non-null  float64
 6   Meteor Score            15999 non-null  float64
 7   EM Score                15999 non-null  int64
 8   Query Time              15999 non-null  float64
 9   Text Length             15999 non-null  int64
dtypes: float64(4), int64(3), object(3)
memory usage: 1.2+ MB
None

In [5]:
# mean, average, std...
results.describe()

,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length
count,15999.000000,15999.00000,1.599900e+04,15999.000000,15999.000000,15999.000000,15999.000000
mean,1629.151822,12.91895,1.453810e+01,0.050691,0.100819,90.999686,455.372961
std,2150.728290,30.68011,3.130769e+01,0.150921,0.301098,99.873517,249.566043
min,0.000000,0.00000,0.000000e+00,0.000000,0.000000,3.110000,0.000000
25%,700.000000,0.00000,1.164047e-229,0.000000,0.000000,25.175000,285.000000
50%,1200.000000,0.00000,3.788950e-153,0.000000,0.000000,51.580000,448.000000
75%,2000.000000,0.00000,4.593825e-76,0.000000,0.000000,126.730000,599.000000
max,44700.000000,100.00000,1.000000e+02,0.500000,1.000000,1026.950000,2169.000000

In [6]:
#preguntas cuyo BLEU Score, de SacreBleu, sea 0
results[results['BLEU Score (SacreBleu)'] == 0.0]

,Question,Answer,Response,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length
0,Which administrative territory is the country of citizenship of Jon Hernández ?,spain,canadian,500,0.0,1.425661e-229,0.0,0,6.34,585
1,Where did the demise of Ferdinand Ducarre occur ?,lyon,"extremadura, madrigalejo",2300,0.0,9.788429e-230,0.0,0,12.34,780
3,What was the sport that Franco Radaelli was a part of ?,football,polo,600,0.0,6.237049e-230,0.0,0,36.93,509
5,Which person is the life partner of Johann Christian Kestner ?,charlotte buff,truman capote,1400,0.0,8.050112e-153,0.0,0,180.11,114
6,Which language does Frank McDonald speak in ?,english,teegarden,700,0.0,6.739372e-153,0.0,0,186.88,134
...,...,...,...,...,...,...,...,...,...,...
15994,"Where did alys, countess of the vexin die",france,"nicasius, quirinus, scubiculus, and pientia",3900,0.0,3.421648e-153,0.0,0,84.26,251
15995,Which collectable as President of the United States of America as its class ?,american lion,air mail,900,0.0,9.751564e-230,0.0,0,152.28,807
15996,Which person has its archives at Harvard University ?,roscoe simmons,roger owen,1000,0.0,5.080794e-153,0.0,0,377.20,865
15997,What was developed by Raoul Dufy ?,les alliés,"cubism, fauvism, impressionism, modernism",3600,0.0,3.668589e-153,0.0,0,379.35,608
15998,Where did James Busby expire ?,anerley,"edinburgh,scotland",1500,0.0,5.333157e-153,0.0,0,254.67,400

In [7]:
#preguntas cuyo BLEU Score, de ntlk, sea 0
results[results['BLEU Score (ntlk)'] == 0.0]

,Question,Answer,Response,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length
9,What was the sport that Tommy Gale was a part of ?,football,cup,800,0.0,0.0,0.0,0,23.22,448
13,which asteroid group is 5110 belgirate found in,asteroid belt,8,1300,0.0,0.0,0.0,0,72.37,667
44,What manner did Marian Bergeron die ?,natural causes,1933,1400,0.0,0.0,0.0,0,13.86,576
60,What is demonstrated in sports film ?,sport,NaN,500,0.0,0.0,0.0,0,101.90,0
111,Where did Eugène Bigot die ?,paris,1949,500,0.0,0.0,0.0,0,31.42,256
...,...,...,...,...,...,...,...,...,...,...
15918,which country is pascale arbillot from,france,2014,600,0.0,0.0,0.0,0,24.85,430
15928,"Which sex does Sir Robert Cunliffe, 5th Baronet have ?",male,"40. 6, 59. 4",1200,0.0,0.0,0.0,0,289.01,779
15933,in what language is the film pasumpon in,tamil,1995,500,0.0,0.0,0.0,0,31.57,439
15947,What does 3914 kotogahama orbit?,sun,1,300,0.0,0.0,0.0,0,49.30,329
15968,Which nucleic acid sequence encodes Apoptosis regulator Bcl-2 ?,bcl2,"3, 4",400,0.0,0.0,0.0,0,98.10,393

# LC-Quad 2.0

In [3]:
# read csv file
results = pd.read_csv("https://raw.githubusercontent.com/librairy/EQAKG/main/test/LC-QuAD_2.0/results/LC-Quad.csv", header = 0, encoding = "utf-8", sep=";")

# display DataFrame
print(results.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296 entries, 0 to 1295
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Question                1296 non-null   object
 1   Answer                  1296 non-null   object
 2   Response                1295 non-null   object
 3   Levenshtein Distance    1296 non-null   int64
 4   BLEU Score (SacreBleu)  1296 non-null   float64
 5   BLEU Score (ntlk)       1296 non-null   float64
 6   Meteor Score            1296 non-null   float64
 7   EM Score                1296 non-null   int64
 8   Query Time              1296 non-null   float64
 9   Text Length             1296 non-null   int64
 10  Is Answered             1296 non-null   object
dtypes: float64(4), int64(3), object(4)
memory usage: 111.5+ KB
None

In [4]:
# mean, average, std...
results.describe()

,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length
count,1.296000e+03,1296.000000,1.296000e+03,1296.000000,1296.000000,1296.000000,1296.000000
mean,3.119691e+04,10.322401,1.085216e+01,0.043981,0.087963,162.143410,498.072531
std,4.187468e+05,28.796594,2.822366e+01,0.141675,0.283350,143.117847,257.658646
min,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,3.930000,0.000000
25%,6.000000e+02,0.000000,7.841408e-230,0.000000,0.000000,64.782500,325.000000
50%,1.700000e+03,0.000000,1.056792e-154,0.000000,0.000000,115.760000,480.500000
75%,3.625000e+03,0.000000,2.260111e-76,0.000000,0.000000,217.580000,638.500000
max,1.219850e+07,100.000000,1.000000e+02,0.500000,1.000000,1033.860000,1730.000000

In [5]:
#preguntas cuyo BLEU Score, de SacreBleu, sea 0
results[results['BLEU Score (SacreBleu)'] == 0.0]

,Question,Answer,Response,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length,Is Answered
0,What is population of Somalia that is point in time is 2009-0-0 ?,9380854,15893219,700,0.0,7.711524e-153,0.0,0,23.43,404,YES
1,What is population of Clermont-Ferrand that is point in time is 2013-1-1 ?,141463,2415,400,0.0,5.780790e-153,0.0,0,40.15,473,YES
3,Give me mode of transport that contains the word vehicle in their name,"motor vehicle, electric vehicle",truck & bus transportation,2700,0.0,5.278753e-153,0.0,0,95.14,540,YES
4,what is the end time for Jonathan Swift has residence as Whitehaven ?,1671-01-01t00:00:00z,death,1900,0.0,6.065720e-231,0.0,0,106.85,576,YES
5,what is the for work for Danny Elfman has nominated for as Academy Award for Best Original Score ?,"milk, big fish",nicholas volpe,1300,0.0,1.408377e-229,0.0,0,95.63,297,YES
...,...,...,...,...,...,...,...,...,...,...,...
1287,What is Theses.fr person ID of Pierre Bourdieu ?,027715078,yes,900,0.0,0.000000e+00,0.0,0,95.54,722,YES
1290,What is replaced by of Shanxi ?,"山西省, 察哈爾省",growth,900,0.0,0.000000e+00,0.0,0,108.02,440,YES
1292,what is the start time for Bill Gates has position held as chief executive officer ?,1975-04-01t00:00:00z,2017,1800,0.0,1.931876e-154,0.0,0,218.54,606,YES
1293,What is the biopharmaceutical with the MAX(defined daily dose) ?,"eculizumab, drotrecogin alfa, basiliximab, tenecteplase, siltuximab",niazi,6300,0.0,7.503377e-235,0.0,0,154.46,9,YES
1294,What is TMDb movie ID of The Birds ?,571,monarch butterfly,1700,0.0,0.000000e+00,0.0,0,185.49,384,YES

In [6]:
#preguntas cuyo BLEU Score, de ntlk, sea 0
results[results['BLEU Score (ntlk)'] == 0.0]

,Question,Answer,Response,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length,Is Answered
11,What is PIM authority ID of Paul Erdős ?,pim52895,#ddd,800,0.0,0.0,0.0,0,82.51,409,YES
12,What is Minneapolis Institute of Art constituent ID of Johannes Gutenberg ?,12201,bibliography,1200,0.0,0.0,0.0,0,195.98,533,YES
18,What is TDKIV term ID of blog ?,000014546,www. idaho,1000,0.0,0.0,0.0,0,174.64,324,YES
20,What is maximum Strahler number of Loire ?,8,1006000,700,0.0,0.0,0.0,0,242.36,789,YES
36,What is arterial supply of human nose ?,sphenopalatine artery,1,2100,0.0,0.0,0.0,0,98.75,272,YES
...,...,...,...,...,...,...,...,...,...,...,...
1281,What is number of matches played and number of points/goals/set scored of Eric Cantona has member of sports team as Leeds United F.C.,28,49,200,0.0,0.0,0.0,0,218.99,420,YES
1283,What is danskefilm animated film ID of Toy Story ?,23,weare,500,0.0,0.0,0.0,0,223.59,552,YES
1287,What is Theses.fr person ID of Pierre Bourdieu ?,027715078,yes,900,0.0,0.0,0.0,0,95.54,722,YES
1290,What is replaced by of Shanxi ?,"山西省, 察哈爾省",growth,900,0.0,0.0,0.0,0,108.02,440,YES
1294,What is TMDb movie ID of The Birds ?,571,monarch butterfly,1700,0.0,0.0,0.0,0,185.49,384,YES

In [16]:
#preguntas cuya respuesta sea numerica, para analizar posteriormente
results[results['Answer'].str.isnumeric()]

ValueError: invalid literal for int() with base 10: 'nelson river'

# Test Code

In [2]:
!pip install spacy
!python -m spacy download en_core_web_sm
!pip install spacy-entity-linker

Requirement already satisfied: spacy in /usr/local/lib/python3.7/dist-packages (3.2.0)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (2.23.0)
Requirement already satisfied: typing-extensions<4.0.0.0,>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from spacy) (3.10.0.2)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (3.3.0)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy) (2.0.6)
Requirement already satisfied: thinc<8.1.0,>=8.0.12 in /usr/local/lib/python3.7/dist-packages (from spacy) (8.0.13)
Requirement already satisfied: wasabi<1.1.0,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from spacy) (0.8.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (21.2)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.0.6)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy) (3.0.6)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.19.5)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from spacy) (2.11.3)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /usr/local/lib/python3.7/dist-packages (from spacy) (2.0.6)
Requirement already satisfied: srsly<3.0.0,>=2.4.1 in /usr/local/lib/python3.7/dist-packages (from spacy) (2.4.2)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.0.1)
Requirement already satisfied: blis<0.8.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (0.4.1)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.8 in /usr/local/lib/python3.7/dist-packages (from spacy) (3.0.8)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (4.62.3)
Requirement already satisfied: pathy>=0.3.5 in /usr/local/lib/python3.7/dist-packages (from spacy) (0.6.1)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.8.2)
Requirement already satisfied: typer<0.5.0,>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (0.4.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from spacy) (57.4.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from catalogue<2.1.0,>=2.0.6->spacy) (3.6.0)
Requirement already satisfied: pyparsing<3,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->spacy) (2.4.7)
Requirement already satisfied: smart-open<6.0.0,>=5.0.0 in /usr/local/lib/python3.7/dist-packages (from pathy>=0.3.5->spacy) (5.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (1.24.3)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /usr/local/lib/python3.7/dist-packages (from typer<0.5.0,>=0.3.0->spacy) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->spacy) (2.0.1)
Collecting en-core-web-sm==3.2.0
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl (13.9 MB)
     |████████████████████████████████| 13.9 MB 98 kB/s
Requirement already satisfied: spacy<3.3.0,>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from en-core-web-sm==3.2.0) (3.2.0)
Requirement already satisfied: thinc<8.1.0,>=8.0.12 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (8.0.13)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2.11.3)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (4.62.3)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2.0.6)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (21.2)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.8 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (3.0.8)
Requirement already satisfied: typer<0.5.0,>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (0.4.0)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2.23.0)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (3.3.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (57.4.0)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (3.0.6)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (1.0.1)
Requirement already satisfied: blis<0.8.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (0.4.1)
Requirement already satisfied: wasabi<1.1.0,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (0.8.2)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2.0.6)
Requirement already satisfied: pathy>=0.3.5 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (0.6.1)
Requirement already satisfied: typing-extensions<4.0.0.0,>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (3.10.0.2)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (1.19.5)
Requirement already satisfied: srsly<3.0.0,>=2.4.1 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2.4.2)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (1.8.2)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (1.0.6)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from catalogue<2.1.0,>=2.0.6->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (3.6.0)
Requirement already satisfied: pyparsing<3,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2.4.7)
Requirement already satisfied: smart-open<6.0.0,>=5.0.0 in /usr/local/lib/python3.7/dist-packages (from pathy>=0.3.5->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (5.2.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2.10)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /usr/local/lib/python3.7/dist-packages (from typer<0.5.0,>=0.3.0->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2.0.1)
Installing collected packages: en-core-web-sm
  Attempting uninstall: en-core-web-sm
    Found existing installation: en-core-web-sm 2.2.5
    Uninstalling en-core-web-sm-2.2.5:
      Successfully uninstalled en-core-web-sm-2.2.5
Successfully installed en-core-web-sm-3.2.0
✔ Download and installation successful
You can now load the package via spacy.load('en_core_web_sm')
Requirement already satisfied: spacy-entity-linker in /usr/local/lib/python3.7/dist-packages (1.0.1)
Requirement already satisfied: spacy>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from spacy-entity-linker) (3.2.0)
Requirement already satisfied: numpy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from spacy-entity-linker) (1.19.5)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from spacy>=3.0.0->spacy-entity-linker) (57.4.0)
Requirement already satisfied: pathy>=0.3.5 in /usr/local/lib/python3.7/dist-packages (from spacy>=3.0.0->spacy-entity-linker) (0.6.1)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /usr/local/lib/python3.7/dist-packages (from spacy>=3.0.0->spacy-entity-linker) (2.0.6)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.7/dist-packages (from spacy>=3.0.0->spacy-entity-linker) (4.62.3)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.7/dist-packages (from spacy>=3.0.0->spacy-entity-linker) (2.23.0)
Requirement already satisfied: srsly<3.0.0,>=2.4.1 in /usr/local/lib/python3.7/dist-packages (from spacy>=3.0.0->spacy-entity-linker) (2.4.2)
Requirement already satisfied: wasabi<1.1.0,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from spacy>=3.0.0->spacy-entity-linker) (0.8.2)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.8 in /usr/local/lib/python3.7/dist-packages (from spacy>=3.0.0->spacy-entity-linker) (3.0.8)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4 in /usr/local/lib/python3.7/dist-packages (from spacy>=3.0.0->spacy-entity-linker) (1.8.2)
Requirement already satisfied: typer<0.5.0,>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from spacy>=3.0.0->spacy-entity-linker) (0.4.0)
Requirement already satisfied: thinc<8.1.0,>=8.0.12 in /usr/local/lib/python3.7/dist-packages (from spacy>=3.0.0->spacy-entity-linker) (8.0.13)
Requirement already satisfied: blis<0.8.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy>=3.0.0->spacy-entity-linker) (0.4.1)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy>=3.0.0->spacy-entity-linker) (2.0.6)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy>=3.0.0->spacy-entity-linker) (3.0.6)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from spacy>=3.0.0->spacy-entity-linker) (2.11.3)
Requirement already satisfied: typing-extensions<4.0.0.0,>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from spacy>=3.0.0->spacy-entity-linker) (3.10.0.2)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from spacy>=3.0.0->spacy-entity-linker) (3.3.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from spacy>=3.0.0->spacy-entity-linker) (21.2)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy>=3.0.0->spacy-entity-linker) (1.0.6)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from spacy>=3.0.0->spacy-entity-linker) (1.0.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from catalogue<2.1.0,>=2.0.6->spacy>=3.0.0->spacy-entity-linker) (3.6.0)
Requirement already satisfied: pyparsing<3,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->spacy>=3.0.0->spacy-entity-linker) (2.4.7)
Requirement already satisfied: smart-open<6.0.0,>=5.0.0 in /usr/local/lib/python3.7/dist-packages (from pathy>=0.3.5->spacy>=3.0.0->spacy-entity-linker) (5.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy>=3.0.0->spacy-entity-linker) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy>=3.0.0->spacy-entity-linker) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy>=3.0.0->spacy-entity-linker) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy>=3.0.0->spacy-entity-linker) (2.10)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /usr/local/lib/python3.7/dist-packages (from typer<0.5.0,>=0.3.0->spacy>=3.0.0->spacy-entity-linker) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->spacy>=3.0.0->spacy-entity-linker) (2.0.1)

In [4]:
!python -m spacy_entity_linker "download_knowledge_base"

In [5]:
import spacy  # version 3.0.6'

# initialize language model
nlp = spacy.load("en_core_web_sm")

# add pipeline (declared through entry_points in setup.py)
nlp.add_pipe("entityLinker", last=True)

doc = nlp("I watched the Pirates of the Caribbean last silvester")

# returns all entities in the whole document
all_linked_entities = doc._.linkedEntities
# iterates over sentences and prints linked entities
for sent in doc.sents:
    sent._.linkedEntities.pretty_print()

<EntityElement: https://www.wikidata.org/wiki/Q194318 Pirates of the Caribbean  Series of fantasy adventure films                 >
<EntityElement: https://www.wikidata.org/wiki/Q12525597 Silvester                 the day celebrated on 31 December (Roman Catholic Church) or 2 January (Eastern Orthodox Churches)>