<a href="https://colab.research.google.com/github/librairy/EQAKG/blob/main/test/MuHeQA_Evaluation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

pd.set_option('max_colwidth', 400)

# VQuAnDa

In [4]:
# read csv file
results = pd.read_csv("https://raw.githubusercontent.com/librairy/EQAKG/main/test/VQuAnDa/results/VQuanda.csv", header = 0, encoding = "utf-8", sep=";")

# display DataFrame
print(results.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 871 entries, 0 to 870
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Question                871 non-null    object
 1   Answer                  871 non-null    object
 2   Response                868 non-null    object
 3   Levenshtein Distance    871 non-null    int64
 4   BLEU Score (SacreBleu)  871 non-null    float64
 5   BLEU Score (ntlk)       871 non-null    float64
 6   Meteor Score            871 non-null    float64
 7   EM Score                871 non-null    int64
 8   Query Time              871 non-null    float64
 9   Text Length             871 non-null    int64
 10  Is Answered             871 non-null    object
dtypes: float64(4), int64(3), object(4)
memory usage: 75.0+ KB
None

In [5]:
results.describe()

,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length
count,871.000000,871.000000,8.710000e+02,871.000000,871.000000,871.000000,871.000000
mean,2352.009185,15.085519,1.664119e+01,0.059701,0.115959,142.579782,523.895522
std,3636.544081,32.877870,3.415201e+01,0.162224,0.320359,134.471981,246.946645
min,0.000000,0.000000,0.000000e+00,0.000000,0.000000,12.790000,0.000000
25%,300.000000,0.000000,1.059404e-229,0.000000,0.000000,50.300000,367.000000
50%,1100.000000,0.000000,2.529008e-153,0.000000,0.000000,97.960000,516.000000
75%,2700.000000,2.057684,1.630987e+00,0.000000,0.000000,180.030000,676.000000
max,27500.000000,100.000000,1.000000e+02,0.500000,1.000000,790.810000,1806.000000

In [6]:
results[results['BLEU Score (SacreBleu)'] == 0.0]

,Question,Answer,Response,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length,Is Answered
0,Count the number of people became famous for when Andrew Jackson was a commander ?,8,3,100,0.0,0.000000e+00,0.0,0,16.74,844,YES
2,List all the faiths that British Columbian politicians follow?,"anglican, anglicanism, catholic church, united church of canada, fellowship of evangelical baptist churches in canada, mennonite brethren church, story.html, sikh, roman catholic",green,17300,0.0,1.179847e-167,0.0,0,258.25,335,YES
4,In which cities can the beverage related to Barq's be found?,"jasper, indiana, indiana",pakistan,1900,0.0,1.154979e-153,0.0,0,285.63,428,YES
5,Trainees at the national film school of Lodz have received what awards?,"poland, szczecin, order of polonia restituta, biennale of polish photography, academy awards",jowonder,8600,0.0,1.806961e-80,0.0,0,283.81,742,YES
6,Give me the count of all people who ascended a peak in California?,65,2,200,0.0,0.000000e+00,0.0,0,678.84,753,YES
...,...,...,...,...,...,...,...,...,...,...,...
864,Where does John A Danaher III work?,"47, connecticut, commissioner, department of public safety",covenant college,4800,0.0,4.106856e-77,0.0,0,102.48,692,YES
865,What magazine is Marritt Cabal known for and is the publisher of Lucifer's Hammer?,playboy,church of satan,1400,0.0,1.100888e-229,0.0,0,109.08,637,YES
866,How many religion's people have died in Malaysia?,30,1,200,0.0,0.000000e+00,0.0,0,98.25,680,YES
868,Which uni did Joshua A. Siegel attend ?,"chicago, northwestern university, university at buffalo",carpark north,4700,0.0,1.832090e+00,0.0,0,96.49,257,YES
870,List the work institutions of the medicians who has also worked at University of Miami?,"tulane university, baylor college of medicine, *, university of miami",leonard m. augustine for health sciences,5500,0.0,2.117731e-76,0.0,0,136.92,1204,YES

In [7]:
#preguntas cuya respuesta sea numerica
numbers = results[results['Answer'].str.isnumeric()]

numbers

,Question,Answer,Response,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length,Is Answered
0,Count the number of people became famous for when Andrew Jackson was a commander ?,8,3,100,0.0,0.000000e+00,0.0,0,16.74,844,YES
6,Give me the count of all people who ascended a peak in California?,65,2,200,0.0,0.000000e+00,0.0,0,678.84,753,YES
8,List the total number of executive producer of TV show which have one of the executiive producer as Steven Moffat ?,173,1,200,0.0,2.465581e-230,0.0,0,458.29,626,YES
16,Estimate the number of sports divisions at the universities under international association of universities.,44,1,200,0.0,0.000000e+00,0.0,0,36.77,686,YES
17,How many universities participate in the NCAA Division I Football Bowl Subdivision?,26,1,200,0.0,0.000000e+00,0.0,0,30.72,905,YES
...,...,...,...,...,...,...,...,...,...,...,...
845,How many other important things has the painter of Sarah Jane Adventures done?,9,2,100,0.0,0.000000e+00,0.0,0,117.62,700,YES
849,How many places were ruled by Elizabeth II?,52,1,200,0.0,0.000000e+00,0.0,0,82.55,518,YES
858,For how many movies are there whose musicians home town is in Volos ?,18,1,100,0.0,6.702145e-230,0.0,0,52.37,343,YES
859,How many groups speak the English Language?,133,1,200,0.0,2.465581e-230,0.0,0,202.95,573,YES
866,How many religion's people have died in Malaysia?,30,1,200,0.0,0.000000e+00,0.0,0,98.25,680,YES

In [8]:
numbers[numbers['BLEU Score (SacreBleu)'] != 0]

,Question,Answer,Response,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length,Is Answered
145,How many cities are around the sea into which the aegean sea flows?,13,13,0,100.0,1.491668e-152,0.5,1,29.31,654,YES

In [9]:
#preguntas cuya respuesta sea booleana
booleans = results[(results['Response'] == "true") | (results['Response'] == "false")]
booleans

,Question,Answer,Response,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length,Is Answered
15,Is Fluidinfo written in PostgreSQL language?,yes,true,400,0.0,1.288230e-229,0.0,0,37.34,1139,YES
28,Is the Caterpullar 797F assembled in North America?,yes,true,400,0.0,1.288230e-229,0.0,0,440.70,357,YES
30,Was Gerald Gibbs the cinematographer of X the unknown?,yes,true,400,0.0,1.288230e-229,0.0,0,117.91,111,YES
38,Was Ganymede discovered by Galileo Galilei?,yes,true,400,0.0,1.288230e-229,0.0,0,405.12,324,YES
42,Is Greg Weeks the band member of Beyond the Sixth Seal?,yes,true,400,0.0,1.288230e-229,0.0,0,41.13,874,YES
...,...,...,...,...,...,...,...,...,...,...,...
793,Is Sao Paulo the largest city of Brazil?,yes,true,400,0.0,1.288230e-229,0.0,0,293.89,797,YES
810,Is Wahoo! the previous work of Honeybuns?,yes,true,400,0.0,1.288230e-229,0.0,0,108.46,35,YES
822,Does Cohoes a junction on the NY State Route 470?,yes,true,400,0.0,1.288230e-229,0.0,0,25.35,596,YES
829,Was Charlemagne canonized by antipope pachal 3?,yes,true,400,0.0,1.288230e-229,0.0,0,547.07,678,YES
861,Does Hard Candy Fitness have one of the divisions in Moscow?,yes,true,400,0.0,1.288230e-229,0.0,0,274.91,931,YES

In [10]:
booleans[(booleans['Answer'] == "yes")]

,Question,Answer,Response,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length,Is Answered
15,Is Fluidinfo written in PostgreSQL language?,yes,true,400,0.0,1.288230e-229,0.0,0,37.34,1139,YES
28,Is the Caterpullar 797F assembled in North America?,yes,true,400,0.0,1.288230e-229,0.0,0,440.70,357,YES
30,Was Gerald Gibbs the cinematographer of X the unknown?,yes,true,400,0.0,1.288230e-229,0.0,0,117.91,111,YES
38,Was Ganymede discovered by Galileo Galilei?,yes,true,400,0.0,1.288230e-229,0.0,0,405.12,324,YES
42,Is Greg Weeks the band member of Beyond the Sixth Seal?,yes,true,400,0.0,1.288230e-229,0.0,0,41.13,874,YES
...,...,...,...,...,...,...,...,...,...,...,...
793,Is Sao Paulo the largest city of Brazil?,yes,true,400,0.0,1.288230e-229,0.0,0,293.89,797,YES
810,Is Wahoo! the previous work of Honeybuns?,yes,true,400,0.0,1.288230e-229,0.0,0,108.46,35,YES
822,Does Cohoes a junction on the NY State Route 470?,yes,true,400,0.0,1.288230e-229,0.0,0,25.35,596,YES
829,Was Charlemagne canonized by antipope pachal 3?,yes,true,400,0.0,1.288230e-229,0.0,0,547.07,678,YES
861,Does Hard Candy Fitness have one of the divisions in Moscow?,yes,true,400,0.0,1.288230e-229,0.0,0,274.91,931,YES

In [11]:
booleans[(booleans['Answer'] == "yes") & (booleans['Response'] == "true")]

,Question,Answer,Response,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length,Is Answered
15,Is Fluidinfo written in PostgreSQL language?,yes,true,400,0.0,1.288230e-229,0.0,0,37.34,1139,YES
28,Is the Caterpullar 797F assembled in North America?,yes,true,400,0.0,1.288230e-229,0.0,0,440.70,357,YES
30,Was Gerald Gibbs the cinematographer of X the unknown?,yes,true,400,0.0,1.288230e-229,0.0,0,117.91,111,YES
38,Was Ganymede discovered by Galileo Galilei?,yes,true,400,0.0,1.288230e-229,0.0,0,405.12,324,YES
42,Is Greg Weeks the band member of Beyond the Sixth Seal?,yes,true,400,0.0,1.288230e-229,0.0,0,41.13,874,YES
...,...,...,...,...,...,...,...,...,...,...,...
793,Is Sao Paulo the largest city of Brazil?,yes,true,400,0.0,1.288230e-229,0.0,0,293.89,797,YES
810,Is Wahoo! the previous work of Honeybuns?,yes,true,400,0.0,1.288230e-229,0.0,0,108.46,35,YES
822,Does Cohoes a junction on the NY State Route 470?,yes,true,400,0.0,1.288230e-229,0.0,0,25.35,596,YES
829,Was Charlemagne canonized by antipope pachal 3?,yes,true,400,0.0,1.288230e-229,0.0,0,547.07,678,YES
861,Does Hard Candy Fitness have one of the divisions in Moscow?,yes,true,400,0.0,1.288230e-229,0.0,0,274.91,931,YES

In [12]:
booleans[(booleans['Answer'] == "no") & (booleans['Response'] == "false")]

Empty DataFrame
Columns: [Question, Answer, Response, Levenshtein Distance, BLEU Score (SacreBleu), BLEU Score (ntlk), Meteor Score, EM Score, Query Time, Text Length, Is Answered]
Index: []

In [13]:
booleans[(booleans['Answer'] == "no")]

Empty DataFrame
Columns: [Question, Answer, Response, Levenshtein Distance, BLEU Score (SacreBleu), BLEU Score (ntlk), Meteor Score, EM Score, Query Time, Text Length, Is Answered]
Index: []

# VANiLLA

In [14]:
# read csv file
results = pd.read_csv("https://raw.githubusercontent.com/librairy/EQAKG/main/test/VANiLLA/VANiLLA.csv", header = 0, encoding = "utf-8", sep=";")

# display DataFrame
print(results.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15999 entries, 0 to 15998
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Question                15999 non-null  object
 1   Answer                  15999 non-null  object
 2   Response                15979 non-null  object
 3   Levenshtein Distance    15999 non-null  int64
 4   BLEU Score (SacreBleu)  15999 non-null  float64
 5   BLEU Score (ntlk)       15999 non-null  float64
 6   Meteor Score            15999 non-null  float64
 7   EM Score                15999 non-null  int64
 8   Query Time              15999 non-null  float64
 9   Text Length             15999 non-null  int64
dtypes: float64(4), int64(3), object(3)
memory usage: 1.2+ MB
None

In [15]:
# mean, average, std...
results.describe()

,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length
count,15999.000000,15999.00000,1.599900e+04,15999.000000,15999.000000,15999.000000,15999.000000
mean,1629.151822,12.91895,1.453810e+01,0.050691,0.100819,90.999686,455.372961
std,2150.728290,30.68011,3.130769e+01,0.150921,0.301098,99.873517,249.566043
min,0.000000,0.00000,0.000000e+00,0.000000,0.000000,3.110000,0.000000
25%,700.000000,0.00000,1.164047e-229,0.000000,0.000000,25.175000,285.000000
50%,1200.000000,0.00000,3.788950e-153,0.000000,0.000000,51.580000,448.000000
75%,2000.000000,0.00000,4.593825e-76,0.000000,0.000000,126.730000,599.000000
max,44700.000000,100.00000,1.000000e+02,0.500000,1.000000,1026.950000,2169.000000

In [16]:
#preguntas cuyo BLEU Score, de SacreBleu, sea 0
results[results['BLEU Score (SacreBleu)'] == 0.0]

,Question,Answer,Response,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length
0,Which administrative territory is the country of citizenship of Jon Hernández ?,spain,canadian,500,0.0,1.425661e-229,0.0,0,6.34,585
1,Where did the demise of Ferdinand Ducarre occur ?,lyon,"extremadura, madrigalejo",2300,0.0,9.788429e-230,0.0,0,12.34,780
3,What was the sport that Franco Radaelli was a part of ?,football,polo,600,0.0,6.237049e-230,0.0,0,36.93,509
5,Which person is the life partner of Johann Christian Kestner ?,charlotte buff,truman capote,1400,0.0,8.050112e-153,0.0,0,180.11,114
6,Which language does Frank McDonald speak in ?,english,teegarden,700,0.0,6.739372e-153,0.0,0,186.88,134
...,...,...,...,...,...,...,...,...,...,...
15994,"Where did alys, countess of the vexin die",france,"nicasius, quirinus, scubiculus, and pientia",3900,0.0,3.421648e-153,0.0,0,84.26,251
15995,Which collectable as President of the United States of America as its class ?,american lion,air mail,900,0.0,9.751564e-230,0.0,0,152.28,807
15996,Which person has its archives at Harvard University ?,roscoe simmons,roger owen,1000,0.0,5.080794e-153,0.0,0,377.20,865
15997,What was developed by Raoul Dufy ?,les alliés,"cubism, fauvism, impressionism, modernism",3600,0.0,3.668589e-153,0.0,0,379.35,608
15998,Where did James Busby expire ?,anerley,"edinburgh,scotland",1500,0.0,5.333157e-153,0.0,0,254.67,400

In [17]:
#preguntas cuyo BLEU Score, de ntlk, sea 0
results[results['BLEU Score (ntlk)'] == 0.0]

,Question,Answer,Response,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length
9,What was the sport that Tommy Gale was a part of ?,football,cup,800,0.0,0.0,0.0,0,23.22,448
13,which asteroid group is 5110 belgirate found in,asteroid belt,8,1300,0.0,0.0,0.0,0,72.37,667
44,What manner did Marian Bergeron die ?,natural causes,1933,1400,0.0,0.0,0.0,0,13.86,576
60,What is demonstrated in sports film ?,sport,NaN,500,0.0,0.0,0.0,0,101.90,0
111,Where did Eugène Bigot die ?,paris,1949,500,0.0,0.0,0.0,0,31.42,256
...,...,...,...,...,...,...,...,...,...,...
15918,which country is pascale arbillot from,france,2014,600,0.0,0.0,0.0,0,24.85,430
15928,"Which sex does Sir Robert Cunliffe, 5th Baronet have ?",male,"40. 6, 59. 4",1200,0.0,0.0,0.0,0,289.01,779
15933,in what language is the film pasumpon in,tamil,1995,500,0.0,0.0,0.0,0,31.57,439
15947,What does 3914 kotogahama orbit?,sun,1,300,0.0,0.0,0.0,0,49.30,329
15968,Which nucleic acid sequence encodes Apoptosis regulator Bcl-2 ?,bcl2,"3, 4",400,0.0,0.0,0.0,0,98.10,393

In [18]:
#preguntas cuya respuesta sea numerica
numbers = results[results['Answer'].str.isnumeric()]

numbers

Empty DataFrame
Columns: [Question, Answer, Response, Levenshtein Distance, BLEU Score (SacreBleu), BLEU Score (ntlk), Meteor Score, EM Score, Query Time, Text Length]
Index: []

In [19]:
numbers[numbers['BLEU Score (SacreBleu)'] != 0]

Empty DataFrame
Columns: [Question, Answer, Response, Levenshtein Distance, BLEU Score (SacreBleu), BLEU Score (ntlk), Meteor Score, EM Score, Query Time, Text Length]
Index: []

In [20]:
#preguntas cuya respuesta sea booleana
booleans = results[(results['Response'] == "true") | (results['Response'] == "false")]
booleans

,Question,Answer,Response,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length
477,is the movie i was a mail order bride in french or english language,english,true,700,0.0,6.085166e-230,0.0,0,128.23,363
1096,is thomas edison a male or female,male,true,300,0.0,1.288230e-229,0.0,0,101.77,408
1142,was andrea guerra a playmaker or defender on the pitch,defender,true,700,0.0,5.635810e-230,0.0,0,184.41,341
1178,is noémie lenoir male or female,female,true,500,0.0,7.813508e-230,0.0,0,49.40,81
1561,is yakuza weapon from japan or china,japan,true,500,0.0,0.000000e+00,0.0,0,75.43,317
...,...,...,...,...,...,...,...,...,...,...
14683,Is sunnyside (film) a documentary or silent film,silent film,true,1000,0.0,2.662168e-230,0.0,0,105.16,122
15142,Is stephen ferris male or female?,male,true,300,0.0,1.288230e-229,0.0,0,165.92,258
15617,is suzanne somers from the united states or canada,united states of america,true,2200,0.0,1.227541e-231,0.0,0,47.87,469
15654,is neil j. gunther from Australia or england,australia,true,700,0.0,3.021963e-153,0.0,0,189.33,379
15887,is rob astbury from Australia or new zealand,australia,true,700,0.0,3.021963e-153,0.0,0,54.91,135

# LC-Quad 2.0

In [21]:
# read csv file
results = pd.read_csv("https://raw.githubusercontent.com/librairy/EQAKG/main/test/LC-QuAD_2.0/results/LC-Quad.csv", header = 0, encoding = "utf-8", sep=";")

# display DataFrame
print(results.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296 entries, 0 to 1295
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Question                1296 non-null   object
 1   Answer                  1296 non-null   object
 2   Response                1295 non-null   object
 3   Levenshtein Distance    1296 non-null   int64
 4   BLEU Score (SacreBleu)  1296 non-null   float64
 5   BLEU Score (ntlk)       1296 non-null   float64
 6   Meteor Score            1296 non-null   float64
 7   EM Score                1296 non-null   int64
 8   Query Time              1296 non-null   float64
 9   Text Length             1296 non-null   int64
 10  Is Answered             1296 non-null   object
dtypes: float64(4), int64(3), object(4)
memory usage: 111.5+ KB
None

In [22]:
# mean, average, std...
results.describe()

,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length
count,1.296000e+03,1296.000000,1.296000e+03,1296.000000,1296.000000,1296.000000,1296.000000
mean,3.119691e+04,10.322401,1.085216e+01,0.043981,0.087963,162.143410,498.072531
std,4.187468e+05,28.796594,2.822366e+01,0.141675,0.283350,143.117847,257.658646
min,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,3.930000,0.000000
25%,6.000000e+02,0.000000,7.841408e-230,0.000000,0.000000,64.782500,325.000000
50%,1.700000e+03,0.000000,1.056792e-154,0.000000,0.000000,115.760000,480.500000
75%,3.625000e+03,0.000000,2.260111e-76,0.000000,0.000000,217.580000,638.500000
max,1.219850e+07,100.000000,1.000000e+02,0.500000,1.000000,1033.860000,1730.000000

In [23]:
#preguntas cuyo BLEU Score, de SacreBleu, sea 0
results[results['BLEU Score (SacreBleu)'] == 0.0]

,Question,Answer,Response,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length,Is Answered
0,What is population of Somalia that is point in time is 2009-0-0 ?,9380854,15893219,700,0.0,7.711524e-153,0.0,0,23.43,404,YES
1,What is population of Clermont-Ferrand that is point in time is 2013-1-1 ?,141463,2415,400,0.0,5.780790e-153,0.0,0,40.15,473,YES
3,Give me mode of transport that contains the word vehicle in their name,"motor vehicle, electric vehicle",truck & bus transportation,2700,0.0,5.278753e-153,0.0,0,95.14,540,YES
4,what is the end time for Jonathan Swift has residence as Whitehaven ?,1671-01-01t00:00:00z,death,1900,0.0,6.065720e-231,0.0,0,106.85,576,YES
5,what is the for work for Danny Elfman has nominated for as Academy Award for Best Original Score ?,"milk, big fish",nicholas volpe,1300,0.0,1.408377e-229,0.0,0,95.63,297,YES
...,...,...,...,...,...,...,...,...,...,...,...
1287,What is Theses.fr person ID of Pierre Bourdieu ?,027715078,yes,900,0.0,0.000000e+00,0.0,0,95.54,722,YES
1290,What is replaced by of Shanxi ?,"山西省, 察哈爾省",growth,900,0.0,0.000000e+00,0.0,0,108.02,440,YES
1292,what is the start time for Bill Gates has position held as chief executive officer ?,1975-04-01t00:00:00z,2017,1800,0.0,1.931876e-154,0.0,0,218.54,606,YES
1293,What is the biopharmaceutical with the MAX(defined daily dose) ?,"eculizumab, drotrecogin alfa, basiliximab, tenecteplase, siltuximab",niazi,6300,0.0,7.503377e-235,0.0,0,154.46,9,YES
1294,What is TMDb movie ID of The Birds ?,571,monarch butterfly,1700,0.0,0.000000e+00,0.0,0,185.49,384,YES

In [24]:
#preguntas cuyo BLEU Score, de ntlk, sea 0
results[results['BLEU Score (ntlk)'] == 0.0]

,Question,Answer,Response,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length,Is Answered
11,What is PIM authority ID of Paul Erdős ?,pim52895,#ddd,800,0.0,0.0,0.0,0,82.51,409,YES
12,What is Minneapolis Institute of Art constituent ID of Johannes Gutenberg ?,12201,bibliography,1200,0.0,0.0,0.0,0,195.98,533,YES
18,What is TDKIV term ID of blog ?,000014546,www. idaho,1000,0.0,0.0,0.0,0,174.64,324,YES
20,What is maximum Strahler number of Loire ?,8,1006000,700,0.0,0.0,0.0,0,242.36,789,YES
36,What is arterial supply of human nose ?,sphenopalatine artery,1,2100,0.0,0.0,0.0,0,98.75,272,YES
...,...,...,...,...,...,...,...,...,...,...,...
1281,What is number of matches played and number of points/goals/set scored of Eric Cantona has member of sports team as Leeds United F.C.,28,49,200,0.0,0.0,0.0,0,218.99,420,YES
1283,What is danskefilm animated film ID of Toy Story ?,23,weare,500,0.0,0.0,0.0,0,223.59,552,YES
1287,What is Theses.fr person ID of Pierre Bourdieu ?,027715078,yes,900,0.0,0.0,0.0,0,95.54,722,YES
1290,What is replaced by of Shanxi ?,"山西省, 察哈爾省",growth,900,0.0,0.0,0.0,0,108.02,440,YES
1294,What is TMDb movie ID of The Birds ?,571,monarch butterfly,1700,0.0,0.0,0.0,0,185.49,384,YES

In [25]:
#preguntas cuya respuesta sea numerica
numbers = results[results['Answer'].str.isnumeric()]

numbers

,Question,Answer,Response,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length,Is Answered
0,What is population of Somalia that is point in time is 2009-0-0 ?,9380854,15893219,700,0.0,7.711524e-153,0.0,0,23.43,404,YES
1,What is population of Clermont-Ferrand that is point in time is 2013-1-1 ?,141463,2415,400,0.0,5.780790e-153,0.0,0,40.15,473,YES
12,What is Minneapolis Institute of Art constituent ID of Johannes Gutenberg ?,12201,bibliography,1200,0.0,0.000000e+00,0.0,0,195.98,533,YES
18,What is TDKIV term ID of blog ?,000014546,www. idaho,1000,0.0,0.000000e+00,0.0,0,174.64,324,YES
20,What is maximum Strahler number of Loire ?,8,1006000,700,0.0,0.000000e+00,0.0,0,242.36,789,YES
...,...,...,...,...,...,...,...,...,...,...,...
1275,What is Czech Jockey Club horse ID of Northern Dancer ?,16358,joshua tree,1100,0.0,0.000000e+00,0.0,0,368.15,56,YES
1281,What is number of matches played and number of points/goals/set scored of Eric Cantona has member of sports team as Leeds United F.C.,28,49,200,0.0,0.000000e+00,0.0,0,218.99,420,YES
1283,What is danskefilm animated film ID of Toy Story ?,23,weare,500,0.0,0.000000e+00,0.0,0,223.59,552,YES
1287,What is Theses.fr person ID of Pierre Bourdieu ?,027715078,yes,900,0.0,0.000000e+00,0.0,0,95.54,722,YES
1294,What is TMDb movie ID of The Birds ?,571,monarch butterfly,1700,0.0,0.000000e+00,0.0,0,185.49,384,YES

In [26]:
numbers[numbers['BLEU Score (SacreBleu)'] != 0]

,Question,Answer,Response,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length,Is Answered
73,How many author of foreword are to/by John Lasseter ?,5,5,0,100.0,1.821832e-229,0.5,1,160.02,428,YES
91,what is the numeric value for atomic nucleus has has quality as baryon number ?,1,1,0,100.0,1.821832e-229,0.5,1,81.33,154,YES
159,What is spin quantum number of boson ?,1,1,0,100.0,1.821832e-229,0.5,1,103.18,74,YES
251,How many last words are for Jesus Christ ?,2,2,0,100.0,1.821832e-229,0.5,1,382.64,606,YES
467,What is radix of decimal ?,10,10,0,100.0,1.491668e-152,0.5,1,75.45,240,YES
511,How many country of origin are for ska ?,5,5,0,100.0,1.821832e-229,0.5,1,167.77,358,YES
594,How many judge are for Nuremberg trials ?,8,8,0,100.0,1.821832e-229,0.5,1,363.47,618,YES
1118,How many retirement age are for Australia ?,1,1,0,100.0,1.821832e-229,0.5,1,354.75,1015,YES
1177,What is publication interval of The New York Times ?,1,1,0,100.0,1.821832e-229,0.5,1,97.27,575,YES
1187,How many producer are for Blade Runner ?,4,4,0,100.0,1.821832e-229,0.5,1,212.90,609,YES

In [27]:
#preguntas cuya respuesta sea booleana
booleans = results[(results['Response'] == "true") | (results['Response'] == "false")]
booleans

,Question,Answer,Response,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length,Is Answered
24,Does the time-weighted average exposure limit of the cobalt equals 0.1,true,true,0,100.0,1.000000e+02,0.5,1,216.68,445,YES
37,Does the quantity buried of the Brazilian Military Cemetery of Pistoia equals 369.6,false,true,400,0.0,1.003274e-229,0.0,0,56.15,455,YES
51,Does the torque of the BMW M20B20 equals 160,true,true,0,100.0,1.000000e+02,0.5,1,48.14,377,YES
55,Did Paul VI work location Rome and Munich ?,false,true,400,0.0,1.003274e-229,0.0,0,409.15,276,YES
63,Does the temperature of the cosmic microwave background radiation equals 2.72548,true,true,0,100.0,1.000000e+02,0.5,1,241.52,721,YES
...,...,...,...,...,...,...,...,...,...,...,...
1252,Did Russell_Crowe award received Australian Sports Medal and Australian National Living Treasure ?,false,true,400,0.0,1.003274e-229,0.0,0,99.85,611,YES
1256,Does the time to altitude of the G.91T less than 3.6,false,true,400,0.0,1.003274e-229,0.0,0,55.25,248,YES
1286,Does the dynamic viscosity of the argon equals 18.16,false,true,400,0.0,1.003274e-229,0.0,0,92.78,494,YES
1289,Did Charles_Dickens father John Dickens?,true,true,0,100.0,1.000000e+02,0.5,1,103.20,140,YES
1291,Does the number of victims of killer of the Norio Nagayama equals 4,true,true,0,100.0,1.000000e+02,0.5,1,106.83,637,YES

In [28]:
correctBooleans = booleans[booleans['BLEU Score (SacreBleu)'] != 0]

In [33]:
correctBooleans

,Question,Answer,Response,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length,Is Answered
24,Does the time-weighted average exposure limit of the cobalt equals 0.1,true,true,0,100.0,100.0,0.5,1,216.68,445,YES
51,Does the torque of the BMW M20B20 equals 160,true,true,0,100.0,100.0,0.5,1,48.14,377,YES
63,Does the temperature of the cosmic microwave background radiation equals 2.72548,true,true,0,100.0,100.0,0.5,1,241.52,721,YES
98,Does the vehicles per thousand people of the Dubai equals 540,true,true,0,100.0,100.0,0.5,1,83.25,216,YES
113,Did Chuck_Berry instrument Fender Stratocaster and Gibson ES-335 ?,true,true,0,100.0,100.0,0.5,1,51.40,430,YES
131,Does the speed of the MV Explorer equals 12.5,true,true,0,100.0,100.0,0.5,1,111.73,46,YES
136,Does the luminosity of the Alpha Andromedae less than 240.0,true,true,0,100.0,100.0,0.5,1,53.10,239,YES
144,Does the number of platform tracks of the Danube equals 1,true,true,0,100.0,100.0,0.5,1,88.27,629,YES
171,Does the earthquake magnitude on the Richter magnitude scale of the 1995 Marathon earthquake equals 5.7,true,true,0,100.0,100.0,0.5,1,679.19,403,YES
174,Does the oxidation state of the phosphorus equals 3,true,true,0,100.0,100.0,0.5,1,21.68,166,YES
177,Did Chennai twinned administrative body Chongqing and Ulsan ?,true,true,0,100.0,100.0,0.5,1,186.02,1282,YES
194,Did Seoul contains administrative territorial entity Jongno District and Gangbuk District ?,true,true,0,100.0,100.0,0.5,1,157.48,384,YES
222,Did The_Chainsmokers country of origin United States of America?,true,true,0,100.0,100.0,0.5,1,353.61,561,YES
253,Does the admission rate of the University of British Columbia greater than 0.4192,true,true,0,100.0,100.0,0.5,1,193.06,470,YES
261,Does the maximum Strahler number of the Kipps Run equals 2,true,true,0,100.0,100.0,0.5,1,121.11,482,YES
265,Does the maximum capacity of the Maschinengewehrkraftwagen equals 2,true,true,0,100.0,100.0,0.5,1,26.03,519,YES
266,Does the net tonnage of the Maggie Lee equals 8,true,true,0,100.0,100.0,0.5,1,35.13,491,YES
298,"Does the number of blank votes of the Rio Grande municipal election, 2016 for Councillor equals 7170",true,true,0,100.0,100.0,0.5,1,78.63,228,YES
311,Did San_Diego owner of SDCCU Stadium and California State Route 209 ?,true,true,0,100.0,100.0,0.5,1,208.05,717,YES
314,Does the specific age inside fictional universe of the Dr. Lanyon equals 50,true,true,0,100.0,100.0,0.5,1,216.44,73,YES
315,Does the watershed area of the rio dei Bareteri equals 0.0,true,true,0,100.0,100.0,0.5,1,196.53,139,YES
316,Does the suicide rate of the United States of America equals 12.1,true,true,0,100.0,100.0,0.5,1,237.94,229,YES
365,Did Eric_Clapton instrument guitar?,true,true,0,100.0,100.0,0.5,1,78.62,369,YES
378,Does the wheelbase of the LuAZ-967 equals 1800,true,true,0,100.0,100.0,0.5,1,363.77,303,YES
426,Did Playboy publisher Playboy Enterprises and Hubert Burda Media Holding ?,true,true,0,100.0,100.0,0.5,1,56.35,570,YES
475,Does the absolute magnitude of the Triton equals -1.2,true,true,0,100.0,100.0,0.5,1,335.88,300,YES
478,Did Anderson_Cooper mother Gloria Vanderbilt?,true,true,0,100.0,100.0,0.5,1,64.41,74,YES
568,Does the number of arrests of the 2012 Quebec student protests less than 4210.8,true,true,0,100.0,100.0,0.5,1,55.37,806,YES
580,Does the standard enthalpy of formation of the acetaldehyde equals -166,true,true,0,100.0,100.0,0.5,1,95.86,434,YES
592,Did Roald_Dahl place of death Oxford?,true,true,0,100.0,100.0,0.5,1,183.04,965,YES
640,Does the optimum viable temperature of the Pseudomonas putida KT2440 equals 28,true,true,0,100.0,100.0,0.5,1,67.91,464,YES
653,Did Tyler_Perry occupation songwriter and television director ?,true,true,0,100.0,100.0,0.5,1,146.87,974,YES
667,Does the apparent magnitude of the Jupiter equals -1.6,true,true,0,100.0,100.0,0.5,1,123.17,297,YES
670,Does the Poisson's ratio of the gold equals 0.4,true,true,0,100.0,100.0,0.5,1,134.95,656,YES
677,Does the sound power level of the Ridgid R6300 equals 110,true,true,0,100.0,100.0,0.5,1,26.14,469,YES
695,Does the pKa of the hydrogen fluoride equals 3.17,true,true,0,100.0,100.0,0.5,1,78.70,407,YES
701,Does the conversion to SI unit of the picometre equals 0.000000000001,true,true,0,100.0,100.0,0.5,1,44.21,564,YES
713,Does the number of representations of the Timeless less than 12.0,true,true,0,100.0,100.0,0.5,1,86.51,535,YES
720,Did Johnny_Depp child Lily-Rose Depp?,true,true,0,100.0,100.0,0.5,1,66.78,582,YES
729,Did Assassination_of_John_F._Kennedy location Dealey Plaza?,true,true,0,100.0,100.0,0.5,1,121.27,955,YES
734,Does the beer bitterness of the cream ale equals 14,true,true,0,100.0,100.0,0.5,1,61.47,612,YES
791,Did Premier_League country United Kingdom?,true,true,0,100.0,100.0,0.5,1,108.84,251,YES
817,Did Jennifer_Lopez partner Alex Rodriguez?,true,true,0,100.0,100.0,0.5,1,117.82,705,YES
879,Did Roanoke_Colony country United States of America?,true,true,0,100.0,100.0,0.5,1,234.17,1196,YES
893,Does the heart rate of the chicken equals 275,true,true,0,100.0,100.0,0.5,1,89.35,617,YES
915,"Does the number of blank votes of the Ipatinga municipal election, 2016 for Councillor equals 6248",true,true,0,100.0,100.0,0.5,1,251.33,432,YES
961,Does the JMA Magnitude of the 2018 Osaka earthquake equals 6.1,true,true,0,100.0,100.0,0.5,1,203.69,506,YES
976,Does the periapsis of the 1011 Laodamia equals 1.5527164,true,true,0,100.0,100.0,0.5,1,199.38,257,YES
998,Does the decay width of the Higgs boson equals 13000000,true,true,0,100.0,100.0,0.5,1,33.41,337,YES
1065,Does the term length of office of the Governor of Maryland equals 4,true,true,0,100.0,100.0,0.5,1,179.27,158,YES
1102,Does the lowest atmospheric pressure of the Hurricane Katrina equals 902,true,true,0,100.0,100.0,0.5,1,107.16,599,YES
1126,Does the specific age inside fictional universe of the Lilith equals 27,true,true,0,100.0,100.0,0.5,1,214.43,367,YES
1159,Does the total equity of the Delta Air Lines equals 245000000,true,true,0,100.0,100.0,0.5,1,52.61,443,YES
1162,Does the sports league level of the Kutonen equals 7,true,true,0,100.0,100.0,0.5,1,113.81,144,YES
1171,Does the par of the Wentworth Club equals 72,true,true,0,100.0,100.0,0.5,1,82.82,548,YES
1200,Does the coefficient of friction of the polycarbonate greater than 0.248,true,true,0,100.0,100.0,0.5,1,288.73,418,YES
1240,Did Warren_Beatty partner Diane Keaton and Isabelle Adjani ?,true,true,0,100.0,100.0,0.5,1,790.60,370,YES
1289,Did Charles_Dickens father John Dickens?,true,true,0,100.0,100.0,0.5,1,103.20,140,YES
1291,Does the number of victims of killer of the Norio Nagayama equals 4,true,true,0,100.0,100.0,0.5,1,106.83,637,YES

In [34]:
correctBooleans.shape

(59, 11)

# Test Code

In [29]:
"""
!pip install spacy
!python -m spacy download en_core_web_sm
!pip install spacy-entity-linker
"""

'\n!pip install spacy\n!python -m spacy download en_core_web_sm\n!pip install spacy-entity-linker\n'

In [30]:
"""
!python -m spacy_entity_linker "download_knowledge_base"
"""

'\n!python -m spacy_entity_linker "download_knowledge_base"\n'

In [31]:
"""
import spacy  # version 3.0.6'

# initialize language model
nlp = spacy.load("en_core_web_sm")

# add pipeline (declared through entry_points in setup.py)
nlp.add_pipe("entityLinker", last=True)

doc = nlp("I watched the Pirates of the Caribbean last silvester")

# returns all entities in the whole document
all_linked_entities = doc._.linkedEntities
# iterates over sentences and prints linked entities
for sent in doc.sents:
    sent._.linkedEntities.pretty_print()
"""

'\nimport spacy  # version 3.0.6\'\n\n# initialize language model\nnlp = spacy.load("en_core_web_sm")\n\n# add pipeline (declared through entry_points in setup.py)\nnlp.add_pipe("entityLinker", last=True)\n\ndoc = nlp("I watched the Pirates of the Caribbean last silvester")\n\n# returns all entities in the whole document\nall_linked_entities = doc._.linkedEntities\n# iterates over sentences and prints linked entities\nfor sent in doc.sents:\n    sent._.linkedEntities.pretty_print()\n'

In [32]:
"""
print("lmao")
"""

'\nprint("lmao")\n'